@{
    Layout = "~/Views/Shared/LayoutTrangChu.cshtml";
}
<div class="customer_login">
    <div class="row">
        <!--login area start-->
        <div class="col-lg-6 col-md-6">
            @if(!String.IsNullOrEmpty(Context.Request.Query["notify"]) && Context.Request.Query["notify"] == "invalid")
            {
                <div class="alert alert-danger">Đăng nhập không thành công</div>
            }
            
            <div class="account_form">
                <h2>login</h2>
                <form action="/Account/LoginPost" method="post">
                    <p>
                        <label>Username or email <span>*</span></label>
                        <input type="text" name="Email">
                    </p>
                    <p>
                        <label>Passwords <span>*</span></label>
                        <input type="password" name="Password">
                    </p>
                    <div class="login_submit">
                        <button type="submit">login</button>
                        <label for="remember">
                            <input id="remember" type="checkbox">
                            Remember me
                        </label>
                        <a href="#">Lost your password?</a>
                    </div>

                </form>
            </div>
        </div>
        <!--login area start-->
        <!--register area start-->
        <div class="col-lg-6 col-md-6">
            @if(!String.IsNullOrEmpty(Context.Request.Query["notify"]) && Context.Request.Query["notify"] == "email-exists")
            {
                <div class="alert alert-danger">Email đã tồn tại</div>
            }
            @if (!String.IsNullOrEmpty(Context.Request.Query["notify"]) && Context.Request.Query["notify"] == "success")
            {
                <div class="alert alert-danger">Đăng ký thành công</div>
            }
            
            <div class="account_form register">
                <h2>Register</h2>
                <form action="/Account/RegisterPost" method="post">
                    <p>
                        <label>Full name  <span>*</span></label>
                        <input type="text" name="Name">
                    </p>
                    <p>
                        <label>Email address  <span>*</span></label>
                        <input type="text" name="Email">
                    </p>
                    <p>
                        <label>Passwords <span>*</span></label>
                        <input type="password" name="Password">
                    </p>
                    <div class="login_submit">
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
        <!--register area end-->
    </div>
</div>
