@*nhan dien cac file trong thu muc Models*@
@using X.PagedList.Web.Common;
@using devpro_project.Models;
@using X.PagedList.Mvc.Core;
@*khai bao kieu du lieu cua Model*@
@model X.PagedList.IPagedList<ItemProduct>
@{
    //import file layout
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@functions{
    MyDbContext db = new MyDbContext();
    public List<ItemCategory> GetCategories(int _ProductId)
    {
        var result = from item_category in db.Categories join item_category_product in db.CategoriesProducts on item_category.Id equals item_category_product.CategoryId join item_product in db.Products on item_category_product.ProductId equals item_product.Id where item_product.Id == _ProductId select item_category;
        return result.ToList();
    }
    public List<ItemTag> GetTag(int _ProductId)
    {
        var result = from item_tag in db.Tags join item_tag_product in db.TagsProducts on item_tag.Id equals item_tag_product.TagId join item_product in db.Products on item_tag_product.ProductId equals item_product.Id where item_product.Id == _ProductId select item_tag;
        return result.ToList();
    }
}
<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/Products/Create" class="btn btn-primary">Add new product</a>
    </div>
    <table class="table table-bordered">
            <tr>
                <th style="width:100px;">Photo</th>
                <th>Name</th>
                <th style="width:200px;">Categories</th>
                <th style="width:200px;">Tags</th>
                <th style="width:70px; text-align:center;">Hot</th>
                <th style="width:120px;"></th>
            </tr>
        @foreach (var row in Model)
        {
            <tr>
                <td>
                    @if (!String.IsNullOrEmpty(row.Photo))
                    {
                        <img src="~/Upload/Products/@row.Photo" style="width:100px;" />
                    }
                </td>
                <td>@row.Name</td>
                <td>
                    @{
                        var list_category = GetCategories(row.Id);
                    }
                    @foreach(var item_category in list_category)
                    {
                        <div>@item_category.Name</div>
                    }
                </td>
                <td>
                    @{
                        var list_tag = GetTag(row.Id);
                    }
                    @foreach(var item_tag in list_tag)
                    {
                        <div>@item_tag.Name</div>
                    }
                </td>
                <td style="text-align:center;">
                    @if(row.Hot == 1)
                    {
                        <text>Hot</text>
                    }
                </td>
                <td style="text-align:center;">
                    <a href="/Admin/Products/Update/@row.Id">Edit</a>&nbsp;
                    <a href="/Admin/Products/Delete/@row.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                </td>
            </tr>

        }
    </table>
    <style type="text/css">
        .pagination {
            padding: 0px;
            margin: 0px;
        }

            .pagination > li {
                display: inline
            }

                .pagination > li > a, .pagination > li > span {
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    line-height: 1.42857143;
                    text-decoration: none;
                    color: #337ab7;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    margin-left: -1px
                }

                .pagination > li:first-child > a, .pagination > li:first-child > span {
                    margin-left: 0;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px
                }

                .pagination > li:last-child > a, .pagination > li:last-child > span {
                    border-bottom-right-radius: 4px;
                    border-top-right-radius: 4px
                }

                .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
                    z-index: 2;
                    color: #23527c;
                    background-color: #eee;
                    border-color: #ddd
                }

            .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
                z-index: 3;
                color: #fff;
                background-color: #337ab7;
                border-color: #337ab7;
                cursor: default
            }

            .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
                color: #777;
                background-color: #fff;
                border-color: #ddd;
                cursor: not-allowed
            }

        .pagination-lg > li > a, .pagination-lg > li > span {
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3333333
        }

        .pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px
        }

        .pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px
        }

        .pagination-sm > li > a, .pagination-sm > li > span {
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5
        }

        .pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px
        }

        .pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px
        }
    </style>
    @Html.PagedListPager(Model, page => Url.Action("Read", new { page = page, a= 1, b =2 }) )
</div>

